﻿@model CreditTeam.Models.Entity.User.Role

@{
    ViewBag.Title = "Role";
    Layout = "_LayoutAdmin";
}

<h3> # Edit @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form method="post">
                        @* asp-controller="Role" asp-action="Edit" *@
                        <input type="hidden" class="form-control" asp-for="Id">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                            <a class=" text-dark btn btn-primary" asp-area="" asp-controller="Role" asp-action="Index">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
