﻿@model IEnumerable<CreditTeam.Models.Entity.User.Role>

@{
    ViewBag.Title = "Role";
    Layout = "_LayoutAdmin";
}

<h3> # List @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="buttoncreate">
            <a asp-action="Create" class="btn btn-primary">Create New Role</a>
        </div>
        
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                <tr class="heighttr">
                    <th class="widthtd"></th>
                    <th>Name</th>
                    @* <th>Action</th> *@
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td></td>
                        <td> @Html.DisplayFor(modelItem => item.Name)</td>
                        @* <td> *@
                        @*     <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@
                        @*     <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                        @* </td> *@
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>