﻿@using CreditTeam.Models.Entity.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>@ViewData["Title"] - CreditTeam</title>

    <!-- Favicons -->
    <link href="~/teamCreditCss/img/favicon.png" rel="icon">
    <link href="~/teamCreditCss/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/teamCreditCss/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/teamCreditCss/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="~/teamCreditCss/lib/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="~/teamCreditCss/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/teamCreditCss/lib/gritter/css/jquery.gritter.css"/>
    <!-- Custom styles for this template -->
    <link href="~/teamCreditCss/css/style.css" rel="stylesheet">
    <link href="~/teamCreditCss/css/style-responsive.css" rel="stylesheet">
    <script src="~/teamCreditCss/lib/chart-master/Chart.js"></script>

    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
<!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!--logo start-->
<a asp-controller="Home" asp-action="Index" class="logo">
    <b>CREDIT<span>EAM</span></b>
</a>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Dashio Admin Panel</div>
                            <div class="percent">40%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Database Update</div>
                            <div class="percent">60%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Product Development</div>
                            <div class="percent">80%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Payments Sent</div>
                            <div class="percent">70%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete (Important)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="external">
                    <a>See All Tasks</a>
                </li>
            </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">You have 5 new messages</p>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-zac.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Zac Snider</span>
                            <span class="time">Just now</span>
                        </span>
                        <span class="message">
                            Hi mate, how is everything?
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-divya.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Divya Manian</span>
                            <span class="time">40 mins.</span>
                        </span>
                        <span class="message">
                            Hi, I need your help with this.
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-danro.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Dan Rogers</span>
                            <span class="time">2 hrs.</span>
                        </span>
                        <span class="message">
                            Love your new Dashboard.
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-sherman.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Dj Sherman</span>
                            <span class="time">4 hrs.</span>
                        </span>
                        <span class="message">
                            Please, answer asap.
                        </span>
                    </a>
                </li>
                <li>
                    <a>See all messages</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">7</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                    <p class="yellow">You have 7 new notifications</p>
                </li>
                <li>
                    <a>
                        <span class="label label-danger">
                            <i class="fa fa-bolt"></i>
                        </span>
                        Server Overloaded.
                        <span class="small italic">4 mins.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-warning">
                            <i class="fa fa-bell"></i>
                        </span>
                        Memory #2 Not Responding.
                        <span class="small italic">30 mins.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-danger">
                            <i class="fa fa-bolt"></i>
                        </span>
                        Disk Space Reached 85%.
                        <span class="small italic">2 hrs.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-success">
                            <i class="fa fa-plus"></i>
                        </span>
                        New User Registered.
                        <span class="small italic">3 hrs.</span>
                    </a>
                </li>
                <li>
                    <a>See all notifications</a>
                </li>
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>
<div class="top-menu">
    <ul class="nav pull-right top-menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit">Logout</button>
            </form>
        }
    </ul>
</div>
</header>
<!--header end-->
<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
                <a asp-controller="Account" asp-action="UserProfileDetail">
                    <img src="~/teamCreditCss/img/ui-sam.jpg" class="img-circle" width="80">
                </a>
            </p>
            @if (SignInManager.IsSignedIn(User))
            {
                <span>
                    @{ var user = await UserManager.GetUserAsync(User); }
                    <a class="centered" asp-controller="Account" asp-action="UserProfileDetail" title="Manage" asp-route-id="@user.Id">
                        <h5 class="centered">@user.FullName</h5>
                    </a>
                </span>
            }
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-map-marker"></i>
                    <span>Home</span>
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="ClassRoom" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>ClassRoom</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Discipline" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Discipline</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Faculty" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Faculty</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Semester" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Semester</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>User</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Student">
                        <i class="fa fa-map-marker"></i>
                        <span>Student</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Teacher">
                        <i class="fa fa-map-marker"></i>
                        <span>Teacher</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Role</span>
                    </a>
                </li>
            }

            @if (User.IsInRole("Teacher"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Point" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Point</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Student"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Transcripts">
                        <i class="fa fa-map-marker"></i>
                        <span>Transcripts</span>
                    </a>
                </li>
            }

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <!-- /row -->
    </section>
</section>
<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        <p>
            &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
            -->
            Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/teamCreditCss/lib/jquery/jquery.min.js"></script>

<script src="~/teamCreditCss/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/teamCreditCss/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/teamCreditCss/lib/jquery.scrollTo.min.js"></script>
<script src="~/teamCreditCss/lib/jquery.nicescroll.js" type="text/javascript"></script>
<script src="~/teamCreditCss/lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script src="~/teamCreditCss/lib/common-scripts.js"></script>
<script type="text/javascript" src="~/teamCreditCss/lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="~/teamCreditCss/lib/gritter-conf.js"></script>
<!--script for this page-->
<script src="~/teamCreditCss/lib/sparkline-chart.js"></script>
<script src="~/teamCreditCss/lib/zabuto_calendar.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/teamCreditCss/js/searchuser.js"></script>

@RenderSection("Scripts", required: false)
@RenderSection("ScriptsAJAX", required: false)
</body>

</html>