﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="~/teamCreditCss/img/favicon.png" rel="icon">
  <link href="~/teamCreditCss/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="~/teamCreditCss/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="~/teamCreditCss/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="~/teamCreditCss/css/style.css" rel="stylesheet">
  <link href="~/teamCreditCss/css/style-responsive.css" rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
@RenderBody()
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="~/teamCreditCss/lib/jquery/jquery.min.js"></script>
  <script src="~/teamCreditCss/lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="~/teamCreditCss/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("/teamCreditCss/img/login-bg.jpg", {
      speed: 500
    });
  </script>
</body>

</html>
