﻿@model CreditTeam.Models.ViewModel.School.EditPointViewModel

@{
    ViewBag.Title = "Point";
    Layout = "_LayoutAdmin";
}

<h3> # Edit @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form method="post" asp-controller="Point" asp-action="Edit">
                        <input type="hidden" class="form-control" asp-for="Id">
                                <div class="form-group">
                                    <label asp-for="ComponentScore" class="control-label"></label>
                                    <input asp-for="ComponentScore" class="form-control"/>
                                    <span asp-validation-for="ComponentScore" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label asp-for="FinalExam0" class="control-label"></label>
                                            <input asp-for="FinalExam0" class="form-control"/>
                                            <span asp-validation-for="FinalExam0" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label asp-for="FinalExam1" class="control-label"></label>
                                            <input asp-for="FinalExam1" class="form-control"/>
                                            <span asp-validation-for="FinalExam1" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label asp-for="ScoreByScale04" class="control-label"></label>
                                            <input asp-for="ScoreByScale04" class="form-control"/>
                                            <span asp-validation-for="ScoreByScale04" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label asp-for="ScoreByScale010" class="control-label"></label>
                                            <input asp-for="ScoreByScale010" class="form-control"/>
                                            <span asp-validation-for="ScoreByScale010" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label asp-for="ScoreByabcdf" class="control-label"></label>
                                            <input asp-for="ScoreByabcdf" class="form-control"/>
                                            <span asp-validation-for="ScoreByabcdf" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                            <a class=" text-dark btn btn-primary" asp-area="" asp-controller="Point" asp-action="Index">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>