﻿@model IEnumerable<CreditTeam.Models.ViewModel.School.ListPointViewModel>

@{
    ViewBag.Title = "Point";
    Layout = "_LayoutAdmin";
}
<h3> # List @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="buttoncreate">
            <a asp-action="Create" class="btn btn-primary">Create New Point</a>
        </div>
        
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                <tr class="heighttr">
                    <th>ComponentScore</th>
                    <th>FinalExam0</th>
                    <th>FinalExam1</th>
                    <th>ScoreByScale010</th>
                    <th>ScoreByScale04</th>
                    <th>ScoreByabcdf</th>
                    <th>Discipline</th>
                    <th>Student</th>
                    <th class="postaction">Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td> @Html.DisplayFor(modelItem => item.ComponentScore)</td>
                        <td> @Html.DisplayFor(modelItem => item.FinalExam0)</td>
                        <td> @Html.DisplayFor(modelItem => item.FinalExam1)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByScale010)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByScale04)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByabcdf)</td>
                        <td> @Html.DisplayFor(modelItem => item.DisciplineName)</td>
                        <td> @Html.DisplayFor(modelItem => item.StudentName)</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            @* <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>