﻿@model CreditTeam.Models.ViewModel.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    Layout = "_LayoutAdmin";
}
<h3>@ViewData["Title"]</h3>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row content-panel">
    <form method="post">
        <div class="col-md-5 profile-text mt mb">
            <div class="hidden-sm hidden-xs">
    
                <table style="width: 100%">
                    <tr>
                        <td>
                            <h4>Nhập mật khẩu cũ:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="OldPassword"/>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Nhập mật khẩu mới:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="NewPassword"/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h4>Nhập lại mật khẩu:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="ConfirmPassword"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                </table>
    
            </div>
        </div>
        <!-- /col-md-4 -->
        <div class="col-md-3 profile-text centered">
        </div>
        <!-- /col-md-4 -->
        <div class="col-md-4 centered">
            <div class="profile-pic">
                <p>
                    <img src="~/teamCreditCss/img/ui-sam.jpg" class="img-circle">
                </p>
    
                <p>
                    <button class="btn btn-theme02" type="submit">Save</button>
                </p>
    
            </div>
        </div>
    </form>
    <!-- /col-md-4 -->
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}