﻿@model CreditTeam.Models.ViewModel.User.LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutLogin";
}




<div id="login-page">
    <div class="container">
        <form class="form-login" id="account" method="post">
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap">
                <span class="text-danger">@ViewBag.errorUser</span>
                <input type="text" class="form-control" asp-for="UserName" placeholder="User ID" autofocus>
                <br>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe"/>
                    @Html.DisplayNameFor(m => m.RememberMe)
                    <hr>
                </label>
                <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
            </div>       
        </form>
    </div>
</div>
