﻿@using CreditTeam.Models.Entity.School
@using CreditTeam.Models.Entity.User
@model CreditTeam.Models.ViewModel.User.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<Role>) ViewData["roles"];
    Layout = "_LayoutAdmin";
}


<h3> # @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="container-fluid">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label asp-for="FullName"></label>
                                    <input asp-for="FullName" class="form-control"/>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control"/>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label asp-for="DateBirth"></label>
                                    <input asp-for="DateBirth" class="form-control" type="date"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label asp-for="Sex"></label>
                                    <select asp-for="Sex" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control"/>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control"/>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control"/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="form-group">
                            <label asp-for="RoleName"></label>
                            <select asp-for="RoleName" class="form-control"
                                    asp-items='new SelectList(roles, "Id", "Name")'>
                            </select>
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>ClassRoom</label>
                            <select asp-for="ClassRoomId" class="form-control"
                                    asp-items=@ViewBag.ClassRoomId>
                                <option value="">-- Select ClassRoom --</option>
                            </select>
                            <span asp-validation-for="ClassRoomId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Faculty</label>
                            <select asp-for="FacultyId" class="form-control"
                                    asp-items=@ViewBag.FacultyId>
                                <option value="">-- Select Faculty --</option>
                            </select>
                            <span asp-validation-for="FacultyId" class="text-danger"></span>
                        </div>
                        <div class="form-group checkbox-div">
                            <input asp-for="IsActive" class="checkbox-register" type="checkbox" checked/>
                            <label asp-for="IsActive"></label>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success">Register</button>
                <a class=" text-dark btn btn-primary" asp-area="" asp-controller="User" asp-action="Index">Back</a>
            </form>

        </div>
    </div>
    <!-- page end-->
</div>