﻿@model CreditTeam.Models.ViewModel.User.UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutAdmin";
}
@* <a asp-controller="Account" asp-action="UserProfile">UserProfile</a> *@
@* <a asp-controller="Account" asp-action="ChangePassword">ChangePassword</a> *@


<h3> @ViewData["Title"]</h3>
<div class="row content-panel">
    <form method="post">
        <div class="col-md-5 profile-text mt mb">
            <div class="hidden-sm hidden-xs">
    
                <table style="width: 100%">
                    <tr>
                        <td>
                            <h4>Mã SV</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="UserName" readonly/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Giới tính:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <select asp-for="Sex" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Ngày sinh:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="DateBirth" type="date">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Điện thoại:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="PhoneNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Email:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <input class="form-control" asp-for="Email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Address:</h4>
                        </td>
                        <td style="font-size: 18px;">
                            <textarea class="form-control" asp-for="Address"></textarea>
                        </td>
                    </tr>
                </table>
    
            </div>
        </div>
        <!-- /col-md-4 -->
        <div class="col-md-3 profile-text centered">
        </div>
        <!-- /col-md-4 -->
        <div class="col-md-4 centered">
            <div class="profile-pic">
                <p>
                    <img src="~/teamCreditCss/img/ui-sam.jpg" class="img-circle">
                </p>
    
                <p>
                    <button class="btn btn-theme02" type="submit">Save</button>
                </p>
    
            </div>
        </div>
   </form>
    <!-- /col-md-4 -->
</div>
