﻿@using CreditTeam.Models.Entity.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<CreditTeam.Models.ViewModel.User.UserProfileViewModel>
@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutAdmin";
}


@section ScriptsAJAX {
    <script src="~/teamCreditCss/js/UserDetail/UserDetailjs.js"></script>
}


<h3> @ViewData["Title"]</h3>
<div class="row content-panel">
    <div id="detailUser" class="col-md-5 profile-text mt mb">
    </div>
    <div id="detailFulName" class="col-md-3 profile-text centered">
    </div>
    @{ var user = await UserManager.GetUserAsync(User);}
    <input hidden id="userId" value="@user.Id"/>
    <!-- /col-md-4 -->
    <div class="col-md-4 centered">
        <div class="profile-pic">
            <p>
                <img src="~/teamCreditCss/img/ui-sam.jpg" class="img-circle">
            </p>
            <p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-theme02" asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.Id">
                        @{ await UserManager.GetUserAsync(User); }
                        Change Profile
                    </a>
                    <a class="btn btn-theme02" asp-controller="Account" asp-action="ChangePassword">
                        @{ await UserManager.GetUserAsync(User); }
                        Change Password
                    </a>
                }
            </p>

        </div>
    </div>
    <!-- /col-md-4 -->
</div>