﻿@using CreditTeam.Models.Entity.User
@model CreditTeam.Models.ViewModel.User.DeleteUserViewModel
@{
    ViewBag.Title = "User";
    Layout = "_LayoutAdmin";
}

<h3> # @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="container-fluid">
            <form method="post" asp-controller="User" asp-action="EditUser">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" class="form-control" asp-for="Id">
                <button type="submit" class="btn btn-success">Delete</button>
            </form>
        </div>
    </div>
    <!-- page end-->
</div>