﻿@model IEnumerable<CreditTeam.Models.ViewModel.User.ListUserViewModel>

@{
    ViewBag.Title = "User";
    Layout = "_LayoutAdmin";
}
<h3> # List All @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="buttoncreate">
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Create New User</a>
            <input id="myInput" class="pull-right search-keyon" type="text" placeholder="Search..">
        </div>
        <div class="adv-table">
            
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                <tr class="heighttr">
                    <th class="widthtd"></th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>IsActive</th>
                    <th class="postaction">Action</th>
                </tr>
                </thead>
                <tbody id="myTable">
                @foreach (var user in Model)
                {
                    <tr class="gradeX">
                        <td></td>
                        <td>@user.FullName</td>
                        <td>@user.Sex</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.IsActive</td>
                        <td>
                            <a class="btn btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                            <a class="btn btn-primary" onclick="return confirm('are you want lock this ?')" asp-action="DeleteUser" asp-route-id="@user.Id">Lock</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>