﻿@model IEnumerable<CreditTeam.Models.ViewModel.User.ListStudentViewModel>

@{
    ViewBag.Title = "Student";
    Layout = "_LayoutAdmin";
}



<h3> # List @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="adv-table">
            <input id="myInput" class="pull-right search-keyon" type="text" placeholder="Search..">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                <tr class="heighttr">
                    <th class="widthtd"></th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Sex</th>
                    <th>Phone</th>
                    <th>IsActive</th>
                </tr>
                </thead>
                <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td></td>
                        <td> @Html.DisplayFor(modelItem => item.FullName)</td>
                        <td> @Html.DisplayFor(modelItem => item.Email)</td>
                        <td> @Html.DisplayFor(modelItem => item.Sex)</td>
                        <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td> @Html.DisplayFor(modelItem => item.IsActive)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>

