﻿@model IEnumerable<CreditTeam.Models.ViewModel.User.TranscriptsViewModel>

@{
    ViewBag.Title = "Point";
    Layout = "_LayoutAdmin";
}
<h3> # @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        
        <div class="adv-table">
            <input id="myInput" class="pull-right search-keyon" type="text" placeholder="Tìm kiếm môn, điểm..">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                <tr>
                    <th>ComponentScore</th>
                    <th>FinalExam0</th>
                    <th>FinalExam1</th>
                    <th>ScoreByScale010</th>
                    <th>ScoreByScale04</th>
                    <th>ScoreByabcdf</th>
                    <th>Discipline</th>
                </tr>
                </thead>
                <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr class="gradeX">
                        <td> @Html.DisplayFor(modelItem => item.ComponentScore)</td>
                        <td> @Html.DisplayFor(modelItem => item.FinalExam0)</td>
                        <td> @Html.DisplayFor(modelItem => item.FinalExam1)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByScale010)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByScale04)</td>
                        <td> @Html.DisplayFor(modelItem => item.ScoreByabcdf)</td>
                        <td> @Html.DisplayFor(modelItem => item.DisCiplineName)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>