﻿@using CreditTeam.Models.Entity.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>@ViewData["Title"] - CreditTeam</title>

    <!-- Favicons -->
    <link href="~/teamCreditCss/img/favicon.png" rel="icon">
    <link href="~/teamCreditCss/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/teamCreditCss/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/teamCreditCss/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="~/teamCreditCss/lib/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="~/teamCreditCss/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/teamCreditCss/lib/gritter/css/jquery.gritter.css"/>
    <!-- Custom styles for this template -->
    <link href="~/teamCreditCss/css/style.css" rel="stylesheet">
    <link href="~/teamCreditCss/css/style-responsive.css" rel="stylesheet">
    <script src="~/teamCreditCss/lib/chart-master/Chart.js"></script>

    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
<!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!--logo start-->
<a asp-controller="Home" asp-action="Index" class="logo">
    <b>CREDIT<span>EAM</span></b>
</a>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Dashio Admin Panel</div>
                            <div class="percent">40%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Database Update</div>
                            <div class="percent">60%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Product Development</div>
                            <div class="percent">80%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="task-info">
                            <div class="desc">Payments Sent</div>
                            <div class="percent">70%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete (Important)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="external">
                    <a>See All Tasks</a>
                </li>
            </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">You have 5 new messages</p>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-zac.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Zac Snider</span>
                            <span class="time">Just now</span>
                        </span>
                        <span class="message">
                            Hi mate, how is everything?
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-divya.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Divya Manian</span>
                            <span class="time">40 mins.</span>
                        </span>
                        <span class="message">
                            Hi, I need your help with this.
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-danro.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Dan Rogers</span>
                            <span class="time">2 hrs.</span>
                        </span>
                        <span class="message">
                            Love your new Dashboard.
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="photo">
                            <img alt="avatar" src="~/teamCreditCss/img/ui-sherman.jpg">
                        </span>
                        <span class="subject">
                            <span class="from">Dj Sherman</span>
                            <span class="time">4 hrs.</span>
                        </span>
                        <span class="message">
                            Please, answer asap.
                        </span>
                    </a>
                </li>
                <li>
                    <a>See all messages</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">7</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                    <p class="yellow">You have 7 new notifications</p>
                </li>
                <li>
                    <a>
                        <span class="label label-danger">
                            <i class="fa fa-bolt"></i>
                        </span>
                        Server Overloaded.
                        <span class="small italic">4 mins.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-warning">
                            <i class="fa fa-bell"></i>
                        </span>
                        Memory #2 Not Responding.
                        <span class="small italic">30 mins.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-danger">
                            <i class="fa fa-bolt"></i>
                        </span>
                        Disk Space Reached 85%.
                        <span class="small italic">2 hrs.</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label label-success">
                            <i class="fa fa-plus"></i>
                        </span>
                        New User Registered.
                        <span class="small italic">3 hrs.</span>
                    </a>
                </li>
                <li>
                    <a>See all notifications</a>
                </li>
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>
<div class="top-menu">
    <ul class="nav pull-right top-menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit">Logout</button>
            </form>
        }
    </ul>
</div>
</header>
<!--header end-->
<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
                <a asp-controller="Account" asp-action="UserProfileDetail">
                    <img src="~/teamCreditCss/img/ui-sam.jpg" class="img-circle" width="80">
                </a>
            </p>
            @if (SignInManager.IsSignedIn(User))
            {
                <span>
                    @{ var user = await UserManager.GetUserAsync(User); }
                    <a class="centered" asp-controller="Account" asp-action="UserProfileDetail" title="Manage" asp-route-id="@user.Id">
                        <h5 class="centered">@user.FullName</h5>
                    </a>
                </span>
            
            }
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-map-marker"></i>
                    <span>Home</span>
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="ClassRoom" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>ClassRoom</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Discipline" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Discipline</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Faculty" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Faculty</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Semester" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Semester</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>User</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Student">
                        <i class="fa fa-map-marker"></i>
                        <span>Student</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Teacher">
                        <i class="fa fa-map-marker"></i>
                        <span>Teacher</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Role</span>
                    </a>
                </li>
            }

            @if (User.IsInRole("Teacher"))
            {
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Point" asp-action="Index">
                        <i class="fa fa-map-marker"></i>
                        <span>Point</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Student"))
            {
                <li>
                @{ var user = await UserManager.GetUserAsync(User); }
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Transcripts" asp-route-id="@user.Id">
                        <i class="fa fa-map-marker"></i>
                        <span>Transcripts</span>
                    </a>
                </li>
            }

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
<section class="wrapper">
<div class="row">
<div class="col-lg-9 main-chart">
<!--CUSTOM CHART START -->
<div class="border-head">
    <h3>USER VISITS</h3>
</div>
<div class="custom-bar-chart">
    <ul class="y-axis">
        <li>
            <span>10.000</span>
        </li>
        <li>
            <span>8.000</span>
        </li>
        <li>
            <span>6.000</span>
        </li>
        <li>
            <span>4.000</span>
        </li>
        <li>
            <span>2.000</span>
        </li>
        <li>
            <span>0</span>
        </li>
    </ul>
    <div class="bar">
        <div class="title">JAN</div>
        <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
    </div>
    <div class="bar ">
        <div class="title">FEB</div>
        <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
    </div>
    <div class="bar ">
        <div class="title">MAR</div>
        <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
    </div>
    <div class="bar ">
        <div class="title">APR</div>
        <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
    </div>
    <div class="bar">
        <div class="title">MAY</div>
        <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
    </div>
    <div class="bar ">
        <div class="title">JUN</div>
        <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
    </div>
    <div class="bar">
        <div class="title">JUL</div>
        <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
    </div>
</div>
<!--custom chart end-->
<div class="row mt">
    <!-- SERVER STATUS PANELS -->
    <div class="col-md-4 col-sm-4 mb">
        <div class="grey-panel pn donut-chart">
            <div class="grey-header">
                <h5>SERVER LOAD</h5>
            </div>
            <canvas id="serverstatus01" height="120" width="120"></canvas>
            <script>
                var doughnutData = [
                    {
                        value: 70,
                        color: "#FF6B6B"
                    },
                    {
                        value: 30,
                        color: "#fdfdfd"
                    }
                ];
                var myDoughnut =
                    new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
            </script>
            <div class="row">
                <div class="col-sm-6 col-xs-6 goleft">
                    <p>Usage<br/>Increase:</p>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <h2>21%</h2>
                </div>
            </div>
        </div>
        <!-- /grey-panel -->
    </div>
    <!-- /col-md-4-->
    <div class="col-md-4 col-sm-4 mb">
        <div class="darkblue-panel pn">
            <div class="darkblue-header">
                <h5>DROPBOX STATICS</h5>
            </div>
            <canvas id="serverstatus02" height="120" width="120"></canvas>
            <script>
                var doughnutData = [
                    {
                        value: 60,
                        color: "#1c9ca7"
                    },
                    {
                        value: 40,
                        color: "#f68275"
                    }
                ];
                var myDoughnut =
                    new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
            </script>
            <p>April 17, 2014</p>
            <footer>
                <div class="pull-left">
                    <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                </div>
                <div class="pull-right">
                    <h5>60% Used</h5>
                </div>
            </footer>
        </div>
        <!--  /darkblue panel -->
    </div>
    <!-- /col-md-4 -->
    <div class="col-md-4 col-sm-4 mb">
        <!-- REVENUE PANEL -->
        <div class="green-panel pn">
            <div class="green-header">
                <h5>REVENUE</h5>
            </div>
            <div class="chart mt">
                <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
            </div>
            <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
        </div>
    </div>
    <!-- /col-md-4 -->
</div>
<!-- /row -->
<div class="row">
    <!-- WEATHER PANEL -->
    <div class="col-md-4 mb">
        <div class="weather pn">
            <i class="fa fa-cloud fa-4x"></i>
            <h2>11º C</h2>
            <h4>BUDAPEST</h4>
        </div>
    </div>
    <!-- /col-md-4-->
    <!-- DIRECT MESSAGE PANEL -->
    <div class="col-md-8 mb">
        <div class="message-p pn">
            <div class="message-header">
                <h5>DIRECT MESSAGE</h5>
            </div>
            <div class="row">
                <div class="col-md-3 centered hidden-sm hidden-xs">
                    <img src="teamCreditCss/img/ui-danro.jpg" class="img-circle" width="65">
                </div>
                <div class="col-md-9">
                    <p>
                        <name>Dan Rogers</name>
                        sent you a message.
                    </p>
                    <p class="small">3 hours ago</p>
                    <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputText" placeholder="Reply Dan">
                        </div>
                        <button type="submit" class="btn btn-default">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Message Panel-->
    </div>
    <!-- /col-md-8  -->
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="product-panel-2 pn">
            <div class="badge badge-hot">HOT</div>
            <img src="teamCreditCss/img/product.jpg" width="200" alt="">
            <h5 class="mt">Flat Pack Heritage</h5>
            <h6>TOTAL SALES: 1388</h6>
            <button class="btn btn-small btn-theme04">FULL REPORT</button>
        </div>
    </div>
    <!-- /col-md-4 -->
    <!--  PROFILE 02 PANEL -->
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="content-panel pn">
            <div id="profile-02">
                <div class="user">
                    <img src="teamCreditCss/img/friends/fr-06.jpg" class="img-circle" width="80">
                    <h4>DJ SHERMAN</h4>
                </div>
            </div>
            <div class="pr2-social centered">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>
        </div>
        <!-- /panel -->
    </div>
    <!--/ col-md-4 -->
    <div class="col-md-4 col-sm-4 mb">
        <div class="green-panel pn">
            <div class="green-header">
                <h5>DISK SPACE</h5>
            </div>
            <canvas id="serverstatus03" height="120" width="120"></canvas>
            <script>
                var doughnutData = [
                    {
                        value: 60,
                        color: "#2b2b2b"
                    },
                    {
                        value: 40,
                        color: "#fffffd"
                    }
                ];
                var myDoughnut =
                    new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
            </script>
            <h3>60% USED</h3>
        </div>
    </div>
    <!-- /col-md-4 -->
</div>
<!-- /row -->
</div>
<!-- /col-lg-9 END SECTION MIDDLE -->
<!-- **********************************************************************************************************************************************************
RIGHT SIDEBAR CONTENT
*********************************************************************************************************************************************************** -->
<div class="col-lg-3 ds">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <div class="donut-main">
        <h4>COMPLETED ACTIONS & PROGRESS</h4>
        <canvas id="newchart" height="130" width="130"></canvas>
        <script>
            var doughnutData = [
                {
                    value: 70,
                    color: "#4ECDC4"
                },
                {
                    value: 30,
                    color: "#fdfdfd"
                }
            ];
            var myDoughnut =
                new Chart(document.getElementById("newchart").getContext("2d")).Doughnut(doughnutData);
        </script>
    </div>
    <!--NEW EARNING STATS -->
    <div class="panel terques-chart">
        <div class="panel-body">
            <div class="chart">
                <div class="centered">
                    <span>TODAY EARNINGS</span>
                    <strong>$ 890,00 | 15%</strong>
                </div>
                <br>
                <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
            </div>
        </div>
    </div>
    <!--new earning end-->
    <!-- RECENT ACTIVITIES SECTION -->
    <h4 class="centered mt">RECENT ACTIVITY</h4>
    <!-- First Activity -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme">
                <i class="fa fa-clock-o"></i>
            </span>
        </div>
        <div class="details">
            <p>
                <muted>Just Now</muted>
                <br/>
                <a href="#">Paul Rudd</a> purchased an item.<br/>
            </p>
        </div>
    </div>
    <!-- Second Activity -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme">
                <i class="fa fa-clock-o"></i>
            </span>
        </div>
        <div class="details">
            <p>
                <muted>2 Minutes Ago</muted>
                <br/>
                <a href="#">James Brown</a> subscribed to your newsletter.<br/>
            </p>
        </div>
    </div>
    <!-- Third Activity -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme">
                <i class="fa fa-clock-o"></i>
            </span>
        </div>
        <div class="details">
            <p>
                <muted>3 Hours Ago</muted>
                <br/>
                <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
            </p>
        </div>
    </div>
    <!-- Fourth Activity -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme">
                <i class="fa fa-clock-o"></i>
            </span>
        </div>
        <div class="details">
            <p>
                <muted>7 Hours Ago</muted>
                <br/>
                <a href="#">Brando Page</a> purchased a year subscription.<br/>
            </p>
        </div>
    </div>

    <!-- CALENDAR-->
    <div id="calendar" class="mb">
        <div class="panel green-panel no-margin">
            <div class="panel-body">
                <div id="date-popover" class="popover top" style="cursor: pointer; margin-left: 33%; margin-top: -50px; width: 175px;">
                    <div class="arrow"></div>
                    <h3 class="popover-title"></h3>
                    <div id="date-popover-content" class="popover-content"></div>
                </div>
                <div id="my-calendar"></div>
            </div>
        </div>
    </div>
    <!-- / calendar -->
</div>
<!-- /col-lg-3 -->
</div>

<!-- /row -->
</section>
</section>
<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        <p>
            &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
            -->
            Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/teamCreditCss/lib/jquery/jquery.min.js"></script>

<script src="~/teamCreditCss/lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/teamCreditCss/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/teamCreditCss/lib/jquery.scrollTo.min.js"></script>
<script src="~/teamCreditCss/lib/jquery.nicescroll.js" type="text/javascript"></script>
<script src="~/teamCreditCss/lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script src="~/teamCreditCss/lib/common-scripts.js"></script>
<script type="text/javascript" src="~/teamCreditCss/lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="~/teamCreditCss/lib/gritter-conf.js"></script>
<!--script for this page-->
<script src="~/teamCreditCss/lib/sparkline-chart.js"></script>
<script src="~/teamCreditCss/lib/zabuto_calendar.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashio!',
            // (string | mandatory) the text inside the notification
            text:
                'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
            // (string | optional) the image to display on the left
            image: '/teamCreditCss/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: false,
            // (int | optional) the time you want it to be alive for before fading out
            time: 8000,
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
    });
</script>
<script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>