﻿@model CreditTeam.Models.ViewModel.School.ClassRoomAddEditViewModel
@{
    ViewBag.Title = "ClassRoom";
    Layout = "_LayoutAdmin";
}


<h3> # Create @ViewData["Title"]</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form asp-action="Create" asp-controller="ClassRoom">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                            <a class="text-dark btn btn-primary" asp-area="" asp-controller="ClassRoom" asp-action="Index">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
